@page "/CreateTeam"
@using Blazor.Services
@using Domain.DTOs
@using Microsoft.AspNetCore.Components
@inject ITeamService Service
<h3>CreateTeam</h3>
<div class="card">
    <div class="field">
        <label>Name</label>
        <input type="text"@bind="Name"/>
    </div>
    <div class="field">
        <label>NameOfCoach</label>
        <input type="text"@bind="NameOfCoach"/>
    </div>
    <div class="field">
        <label>Ranking</label>
        <input type="text"@bind="Ranking"/>
    </div>
</div>
<button @onclick="createTeam">add team</button>
    @code {
    private string Name;
    public string NameOfCoach;
    public int Ranking;
        private string errorLabel;
        
        private async Task createTeam()
        {
            errorLabel = "";
            try
            {
                await Service.CreateAsync(new NewTeamDTO(Name,NameOfCoach,Ranking));
                Name = "";
                NameOfCoach = "";
                Ranking = 0;
                errorLabel = "";
            }
            catch (Exception e)
            {
                Console.WriteLine(e);
                errorLabel = $"Error: {e.Message}";
            }
        }
        

    }
